
.main{
    background-color: rgb(164, 21, 171);

}
.navbar-part {
    background-color: #cc1515;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* Fixed navbar */
    width: 100%;
    z-index: 100;
}
.sidebar-part {
    position: fixed;
    background-color: #114aa6;
    width: 282px;
    height: auto;
    margin-top: 50px;
}

.content-part {
    background-color: rgb(202, 235, 217);
    margin-left: 282px; /* Same as the width of the sidebar */
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100% - 282px); /* Subtract the width of the sidebar */
    flex: none;
    overflow-y: auto; /* Scrollable content vertically */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}